/* font-family: 'Bowlby One SC', cursive; */
/* font-family: 'Raleway', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: aliceblue;
}

img {
    width: 100%;
}

button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    opacity: 0.9;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    opacity: 1;
}

button:disabled {
    opacity: 0.3;
    cursor: default;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

.header {
    padding: 1rem 1rem;
    box-shadow: 0 1px 3px rgb(202, 227, 248);
    margin-bottom: 4rem;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content h1 {
    font-family: 'Bowlby One SC', cursive;
}

.nav__container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__container button {
    background-color: #FFC83D;
    min-width: 120px;
}

.nav .nav__btn {
    all: unset;
    text-decoration: none;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.6;
}

.nav .nav__btn:first-child {
    margin-right: 1rem;
}

.nav .nav__btn.active {
    opacity: 1;
}

.main {
    margin-bottom: 120px;
}

.cats {
    padding: 0 1rem;
}

.cats__content {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cats__content img {
    width: 100%;
}

.cats__content .btnToogleFavorite {
    margin-top: 12px;
    padding: 0;
    background: none;
    font-size: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #ffffff;
    text-shadow: 0 0 30px rgba(32, 32, 32, 0.7);

    position: absolute;
    top: 0;
    right: 10px;
}

.cats__content .btnToogleFavorite.activeFavorite {
    color: #ff0000;
}


@media screen and (min-width: 576px) {
    .cats {
        columns: 2;
        column-gap: 20px;
        max-width: 900px;
        margin: 0 auto;
    }
}










/* Loading */
.ring {
    --uib-size: 16px;
    --uib-speed: 2s;
    --uib-color: black;

    height: var(--uib-size);
    width: var(--uib-size);
    vertical-align: middle;
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
}

.ring circle {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes stretch {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -124px;
    }
}